html, body{
  height: 100%;    
  margin: 0; 
  background-color:var(--gray-800); 
  font-family: "Quicksand", sans-serif;     
}

body, #inputs{
  display: flex;              
  justify-content: center;    
  align-items: center;     
  gap: 1rem;  
}

p, label{
  color: var(--gray-100);
}

.text_right{
  width: 35rem;
  position: absolute;
  font-size: var(--font-xl);
  font-weight: 500;
  left: 9rem;
  top: 23rem;
}


.race_name{
  width: 30rem;
  height: auto;
  min-height: 20rem;
  position: absolute; 
  right: 9rem;
  top: 12rem;
  background-color: var(--gray-600);
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem;
}

#race_name{
  margin: 1rem;
  width: 8rem;
  height: 2.5rem;
  color: var(--gray-100);
  background-color: transparent;
  appearance: none;
  text-align: center;
  border-radius: 1rem;
}

#race_name:open{
  border-bottom-left-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
}

#race_name:open, #race_name:focus{
  outline: 0;
}

#race_name option {
  background-color: var(--gray-600); 
}

.input {
  border-radius: 1rem;
  width: 15rem;
  height: 2rem;
}

.input, input:focus {
  outline: 0;
  border: 0;
  text-align: center;
  font-family: "Quicksand", sans-serif;     
  font-weight: 700;
  font-size: var(--font-md);
}

.nav-link{
  background-color: transparent;
  outline: 0;
  border: 0;
  user-select: none;
  color: var(--gray-100);
  margin: 0 1.5rem;
  font-size: var(--font-xl);
}

.nav-link.active{
  color: var(--purple-dark-200);
}

#ficha_nav{
  user-select: none;
  position: absolute;
  top: 7rem;
}


.race_age{
  width: 30rem;
  height: auto;
  min-height: 20rem;
  position: absolute; 
  right: 9rem;
  top: 12rem;
  background-color: var(--gray-600);
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem;
}

#race_age{
  margin: 1rem;
  width: 8rem;
  height: 2.5rem;
  color: var(--gray-100);
  background-color: transparent;
  appearance: none;
  text-align: center;
  border-radius: 1rem;
}

#race_age:open{
  border-bottom-left-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
}

#race_age:open, #race_age:focus{
  outline: 0;
}

#race_age option {
  background-color: var(--gray-600); 
}
